<h1>create a list</h1>
<form class="simple_form new_list" id="new_list" novalidate="novalidate" action="/lists" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="6mcCvU7ZazpIBcJTptw/8y4EucmzccFWli7tFUzX6IJEx8wq6PFC7m4rA1Jy+W4YW1hlhYhSOyhZefWtOM5ofQ==">
  <div class="mb-3 string optional list_name">
    <label class="string optional" for="list_name">Name</label>
    <input class="form-control string optional" type="text" name="list[name]" id="list_name">
    </div>
    <input type="submit" name="commit" value="Create list" data-disable-with="Create list">
</form>
